@supports (display: grid) {
    @media screen and (min-width: 1200px) {

        .site {
            display: grid;
            grid-template-columns: 1fr 1fr 1 fr;
            grid-template-rows: 3fr 3fr 1fr;
            grid-gap: 20px;
            background-color: #fff;

            grid-template-areas:
                "header about files"
                "header education projects"
                "footer footer footer";
        }

        .header {
            grid-area: header;
        }

        .about {
            grid-area: about;
        }

        .education {
            grid-area: education;
        }

        .files {
            grid-area: files;
        }

        .projects {
            grid-area: projects;
        }

        .footer {
            grid-area: footer;
        }
    }

    @media screen and (min-width: 800px) {
        .site {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "header"
                "about"
                "files"
                "education"
                "projects"
                "footer";
        }
}


.container div {
    border-radius: 3px;
    padding: 0.2em;
    background-color: #EAF0CE;
    text-align: center;
}

.image_container {
    border-radius: 50%;
    margin-top: 30px;
}

