/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: -2rem;
  z-index: 10;
  color: #5a5a5a;
}

.carousel-indicators li {
    visibility: hidden;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 22rem;
  background-color: #FFFFFF;
}

.image-wrapper {
    height: 100%;
    opacity: 0.7;
}

.single-inner {
    width: 240px;
    height: 240px;
    position: absolute;
    left: 50%;
    top: 40%; 
    margin-left: -120px;
    margin-top: -120px;
}

.multi-inner {
    width: 440px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 40%; 
    margin-left: -220px;
    margin-top: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: black;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* My Additions 
------------------------- */
.home {
    padding-top: 5rem;
}

.home-expanse {
    background-color: #dcdcdc;
    height: 100%;
}

.border-color {
    border-color: #2f4f4f;
}

.title-below-img{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.slight-padding{
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

a {
    color: #5a5a5a;
    font-weight: bold;
}
a:hover {
    color: #5a5a5a;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  background-color: orange;
  line-height: 1;
  letter-spacing: -.05rem;
}

.base{
    height: 100%;
    display: table-cell;
    height: 300px;
    text-align: center;
    width: 300px;
    vertical-align: middle;
}

.col-md-7 {
    position: relative;
}

.intel-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    margin: auto;
}

.mit-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    margin: auto;
}

.ms-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    margin: auto;
}

.qc-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80%;
    margin: auto;
}

.custom-header {
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -.05rem;
}

.custom-subheader {
    font-size: 20px;
    line-height: 1;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

